#Video {
  border-bottom: #da8a0d solid 10px;
  border-top: #da8a0d solid 10px;
  margin-bottom: 10%;
  margin-top: 110px;
  background-image: url(https://res.cloudinary.com/dsdicaf5h/image/upload/v1679338143/cenicero/fondo-min_mvyopj.png);
  background-size: 100%;
}
#Video video {
  width: 100%;
  height: auto;
  padding-left: 30vw;
  padding-right: 30vw;
  padding-bottom: 5%;
}
#Video #products {
  padding-top: 100px;
  padding-bottom: 2%;
  margin-bottom: 50px;
  padding-left: 30vw;
  padding-right: 30vw;
}

.divTodos {
  background-image: url(https://res.cloudinary.com/dsdicaf5h/image/upload/v1679338143/cenicero/fondo-min_mvyopj.png);
  padding-bottom: 5%;
  background-size: 100%;
  border-bottom: #da8a0d solid 10px;
  border-top: #da8a0d solid 10px;
  margin-bottom: 10%;
  margin-top: 100px;
  position: absolute;
  display: block;
  width: 100%;
  height: 160px;
  top: 390px;
  left: 50%;
  text-shadow: 0px 2px 1px #da8a0d;
  transform: translate(-50%, -50%);
  color: white;
}
.divTodos .TodosProd {
  display: block;
  position: absolute;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
  width: 100%;
}
.divTodos .TodosProd span {
  display: inline-block;
  padding-left: 100%;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
  line-height: 140px;
  font-size: 85px;
  animation: animated 10s linear infinite;
}
.divTodos .TodosProd2 {
  width: 100%;
  display: block;
  position: absolute;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
}
.divTodos .TodosProd2 span {
  display: inline-block;
  padding-left: 100%;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
  line-height: 140px;
  font-size: 85px;
  animation: animated 10s linear infinite;
  animation-delay: 5s;
}

.divTodos:hover {
  color: #da8a0d;
  text-shadow: 0px 2px 1px rgb(255, 255, 255);
}

@keyframes animated {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
#nosotros {
  text-align: center;
  color: white;
  padding-top: 100px;
  margin-bottom: 100px;
  text-shadow: 0px 2px 1px rgb(0, 0, 0);
  margin-top: 100px;
  border-bottom: #da8a0d solid 10px;
  border-top: #da8a0d solid 10px;
  background-image: url(https://res.cloudinary.com/dsdicaf5h/image/upload/v1679338143/cenicero/fondo-min_mvyopj.png);
  background-size: 100%;
}
#nosotros #imgNosotros {
  width: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.botonAgregado {
  background-color: #da8a0d;
}

@media screen and (max-width: 1024px) {
  #Video video {
    padding-left: 0vw;
    padding-right: 0vw;
  }
  #Video #products {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .divTodos .TodosProd span {
    font-size: 70px;
  }
  .divTodos .TodosProd2 span {
    font-size: 70px;
  }
}
@media screen and (max-width: 500px) {
  .divTodos .TodosProd span {
    font-size: 50px;
  }
  .divTodos .TodosProd2 span {
    font-size: 50px;
  }
}
@media screen and (max-width: 400px) {
  .divTodos .TodosProd span {
    font-size: 40px;
  }
  .divTodos .TodosProd2 span {
    font-size: 40px;
  }
}/*# sourceMappingURL=Inicio.css.map */